#header, #footer, a, #micFilterLinks{
	display: none;
}

@page {
margin: 0.5cm;
}

body{
	background-color: #ffffff;
	color:#000000;
	width: 100%; 
	margin: 0; 
	padding:0;
	float: none;
	font-size: 12pt;
	font-family: Georgia, ‘Times New Roman’, serif;
	text-transform: none;
	text-decoration: none; 
}

table{
	position:relative;
}

table a{
	display: block;
	color: #000000;
	text-decoration: none;
	text-transform: none;
}
th{
	border-color: #000 !important;
}
tr{ 
  	position:relative;
  	page-break-inside:avoid;
  	border-color:#000 !important;
 }

td{ 
  	position:relative;
  	page-break-inside:avoid;
  	border-color: #000 !important;
  }

.micCheckControls{
	display:none;
}




