@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-Roboto-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto';
  src: url('Roboto/Roboto-bold.ttf')  format('truetype'); /* Safari, Android, iOS */
  font-weight: bold;
}

html{
  max-height: 768px;
}
body {													/*Background Image + Position*/
  background-image: url(Background.jpg);
  color: #ffffff;
  font-family: 'Roboto', serif;
  text-align: left;
  text-shadow: black 0.12em 0.12em 0.12em;
}

h2{
  font-size: 4em;
  -webkit-margin-before: 20px;
  -webkit-margin-after: 0;
  font-weight: bold;
  width: 95%;

}

h3{
  font-size: 1.2em;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.wrapper{
  width: 100%;
  font-size: 30px;
}

.title-area{
  position:absolute;
  width:30%;
  bottom:20px;
  right:30px;
}

.title-area h2{
  float:left;
  font-size: 1.5em;
  -webkit-margin-before: 0;
}

img{
  position:absolute;
  bottom:20px;
  right:25px;
}
.sess-details{
  position: relative;
  width:60%;
  left:20px;
  margin: 70px 0;
  min-height: 175px;
  border-bottom: 1px solid #fff; 
}

.studio-title-1, .studio-title-2, .studio-title-3{
  float:left;
  text-align: center;
  font-weight: 300;
  line-height: 2em;
  height: 175px;
  width: 18%;
  border-right:1px solid #fff;
}


.s1time, .s2time, .s3time{
  float: left;
  font-weight: 300;
  width: 79%;
  border-bottom: 1px solid #fff;
  font-size: 1.5em;
  padding-left:20px; 
  
}
.s1client, .s1project, .s2client, .s2project, .s3client, .s3project{
  float: left;
  font-size: 1em;
  text-align: left;
  width:78%;
  padding: 10px 0 10px 20px;
  font-weight: bold;
}

.DateTime
{
  font-size: 1.1em;
  position:absolute;
  right: 140px;
  top:410px;
  text-align: center;

}

#clock {
  position: fixed;
  padding:0;
  top:14px;
  right:85px;
  width: 350px;
  height: 350px;
  background: url(clockface.png);
  list-style: none;
}

#sec, #min, #hour {
  position: absolute;
  width: 20px;
  height: 400px;
  top: 0px;
  left: 191px;
}

#sec {
  background: url(sechand.png);
  z-index: 3;
}
   
#min {
  background: url(minhand.png);
  z-index: 2;
}
   
#hour {
  background: url(hourhand.png);
  z-index: 1;
}
