body {													/*Background Image + Position*/
	background-image: url(Backgroundtest.jpg);
	background-repeat: repeat;
	background-position: top center;
	background-color:#000;
}
DIV.s1enter {position:absolute;Left:10px;Top:10px;FONT-FAMILY:myriad pro;color:#ffffff;}
DIV.s2enter {position:absolute;Left:350px;Top:10px;FONT-FAMILY:myriad pro;color:#ffffff;}
DIV.s3enter {position:absolute;Left:700px;Top:10px;FONT-FAMILY:myriad pro;color:#ffffff;}
DIv.sresult {position:absolute;Left:440px;Top:400px;FONT-FAMILY:myriad pro;color:#ffffff;}
DIV.sdisplay {position:absolute;Left:300px;Top:420px;FONT-FAMILY:myriad pro;color:#ffffff;}